{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <form action="{% url 'tambah_buku' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Tambah</button>
                <a href="/buku" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}